@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./imagens/alunos.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #1f1e1f;
}


.logo {
    width: 120px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100%;
    height: 100%;
}

.menu-toggle {
    display: none;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
    transition: all 0.3s;
}

h2{
    text-align: center;
    padding-bottom: 20px;
}


/* Reset de estilos padrão */
body, h1, h2, h3, p, label, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #1f1e1f;
    color: #fff;
    padding: 0px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}



.menu-toggle {
    display: none;
}

section {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    color: #1f1e1f;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #5dd55d;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4ca74c;
}

a {
    color: #5dd55d;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

footer {
    background-color: #1f1e1f;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer {
    text-align: center;
    align-items: center;
}

#imagem-animada {
    text-align: center;
}

#imagem-animada img {
    max-width: 30%;
    height: auto;
}

form {
    display: grid;
    grid-gap: 10px;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

button {
    background-color: crimson;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: red;
}

.inline {
    display: inline-block;
    margin-right: 10px;
    /* Ajuste a margem conforme necessário */
}

.radio-group {
    display: flex;
    align-items: center;
}

.radio-option {
    margin-right: 30px;
}

/* Estilos para o campo de envio de foto */
label[for="foto"] {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

#foto {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    transition: border-color 0.3s;
    margin-bottom: 30px;
    cursor: pointer;
}

#foto:hover {
    border-color: #555;
    cursor: pointer;
}

#foto:focus {
    outline: none;
    border-color: black;
}

textarea {
    width: 100%;
    height: 30px; 
    margin-bottom: 10px;
}

form {
    display: grid;
    grid-gap: 18px;
    margin-bottom: 20px; 
}

/* Estilos para telas menores, como celulares */
@media (max-width: 768px) {
    .logo {
        width: 80px; /* Reduzir o tamanho do logo para telas menores */
    }
    menu-toggle {
        display: block; /* Mostrar o menu-toggle em telas menores */
    }
    menu-toggle div {
        width: 20px;
    }
}

/* Estilos para telas maiores, como notebooks e computadores */
@media (min-width: 1024px) {
    .content {
        height: 200px; /* Aumentar a altura do content para telas maiores */
    }
}

h3{
    color: black;
    text-align: center;
}

a{
    color: black;
    text-align: center;
}